body {
    background-color: rgb(207, 203, 203);
  }

  * {
    box-sizing: border-box;
  }

  .header {
    display: flex;
  }

  .row {
    display: flex;
  }

  /* left container css */
  .left{
    flex: 12%;
    /* padding: 15px 0; */
    display: block;
    background-color: white;
    margin: 2rem;
    margin-right: 0.2rem;
    text-align: center;
  }

  .left h2 {
    margin: 0.85rem;
  }

  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 12rem;
  }
  
  .menu a {
    padding: 3.7rem;
    text-decoration: none;
    color: black;
    display: block;
  }

  .link-active {
    background-color:  rgb(96 165 250);
  }

  .menu a:hover {
    background-color: rgba(204, 216, 236, 0.9);
    border: 1px solid rgb(109, 102, 102);
  }

  /* right container css  */
  .right {
    flex: 80%;
    margin: 2rem;
    margin-left: 0rem;
  }

  /* top container  css  */
  .addBlock {
    display: flex;
    /* width: 200%; */
  }

  .text {
    width: 90%;
    font-size: 18px;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 4px 0 rgba(0, 0, 0, 0.19);
  }

  .btn_add{
    padding: 1.1rem;
    width: 10%;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(149, 192, 245);
    border: 1px solid rgb(109, 102, 102);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .btn_add:hover{
    background-color: rgba(204, 216, 236, 0.9);
  }

  /* middle container css    */
   .task-list {
    display: block;
    background-color: rgb(240, 233, 233);
    margin: 0;
    height: 92%;
    /* width: 200%; */
    padding: 0.3rem;
    margin-right: 0.5rem;
    overflow: auto;
  }

   .bg{
    background-color: white;
    display: block;
    margin: 0.7rem;
    height: 95%;
    overflow: auto;
    border-top-style: solid;
    border-top: 3px solid rgb(96 165 250);
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  h3{
    margin: 2rem;
    font-size: x-large;
  }

  /* list container css for Task List */

  .grid-container{
    display: grid;
    margin-left: 0rem;
    grid-template-columns: 50px  repeat(4, minmax(0, 1fr));
  }

  .grid-container:hover {
    transition: 0.1s;
    border-top: 1px solid #dddddd transparent;
    border-bottom: 1px solid #dddddd transparent;
    /* border: 2px solid rgb(96 165 250); */
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
     color: black;
  }

  .grid-item1{
    /* display: flex; */
    font-size: 18px;
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 10rem;
    padding-right: 3rem;
    /* margin-right: 1.5rem; */
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }

  #checkbox{
    margin-right: 1rem;
    margin-top: 0.2rem;
  }

  .btn_close{
    cursor: pointer;
    position: absolute;
    transform: translate(0%, -50%);
    font-size: 17px;
    /* margin-left: 13rem; */
    margin-top: 0.6rem;
    /* padding: 0.1rem 0.3rem 0.1rem 0.3rem; */
  }

  /* task progrress css  */

  #new-task-input {
    width: 99.5%;
    font-size: 18px;
    padding: 1rem;
    border: 1px solid #ddd;
    margin-right: 2rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .grid-container-progress{
    display: grid;
    /* gap: 3rem; */
    grid-template-columns: 30rem auto;
  }
  
  .grid-item2{
    display: flex;
    font-size: 18px;
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 10rem;
    padding-right: 3rem;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }

  .progress .color{
    position: absolute;
    background-color: rgb(96 165 250);
    width: 0px;
    height: 0.6rem;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}

  .grid-item3{
    display: flex;
    font-size: 18px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    /* padding-right: 3rem; */
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }

  /* editing task css  */

  .grid-container-edit{
    display: grid;
    row-gap: 40px;
    grid-template-columns: 20rem auto auto auto;  
  }

  .edit-btn{
    border-color: rgb(96 165 250);
    /* background-color: rgb(96 165 250); */
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 0.3rem;
    width: 70%;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }







